@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import 'var.css';

.temp{
    font-family: var(--font);
    color: black;
    margin: 2px;
    padding: 1px;
    font-size: 1rem;
    border-radius: 3px;
    font-weight:600;
}